<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Guest Book</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Guest</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="card  shadow  mb-5 bg-white rounded">
			<div class="card-header d-flex justify-content-center">
				<h1>Guest List</h1>
			</div>
			<div class="card-body">

				<div align="center">

					
					<form th:action="@{/}" class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="keyword" id="keyword" size="25"th:value="${keyword}" required /> 
							<input class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit" value="Search" /> 
							<input class="btn btn-outline-warning mr-5 my-2 my-sm-0" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
					<a class="btn btn-primary" href="/new"><i class="fas fa-plus"></i> New Guest</a>
					</form>
					<br> <br>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Guest Number</th>
								<th>Guest Name</th>
								<th>Guest KTP Number</th>
								<th>Guest Email</th>
								<th>Guest Age</th>
								<th>Guest Gender</th>
								<th>Guest Address</th>
								<th>Guest Destination</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="guest : ${listGuest}">
								<td th:text="${guest.id}"></td>
								<td th:text="${guest.name}"></td>
								<td th:text="${guest.noKtp}"></td>
								<td th:text="${guest.email}"></td>
								<td th:text="${guest.age}"></td>
								<td th:text="${guest.gender}"></td>
								<td th:text="${guest.address}"></td>
								<td th:text="${guest.destination}"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>




	<script>
		function clearSearch() {
			window.location = "[[@{/}]]";
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>

</body>
</html>
