<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Guest Book</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Guest</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
				</a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<div class="card  shadow  mb-5 bg-white rounded">
			<div class="card-header d-flex justify-content-center">
				<h1>Create New Guest</h1>
			</div>
			<div class="card-body">
				<form action="#" th:action="@{/save}" th:object="${guest}"
					enctype="multipart/form-data" method="post">
					<div class="form-group col-6">
						<label>Name</label> <input class="form-control" type="text"
							th:field="*{name}" required />
					</div>
					<div class="form-group col-6">
						<label>KTP</label> <input class="form-control" id="intTextBox"
							type="text" th:field="*{noKtp}" th:maxlength="16"
							th:minlength="16" required />
					</div>
					<div class="form-group col-6">
						<label>Email</label> <input class="form-control" type="email"
							th:field="*{email}" required />
					</div>
					<div class="form-group col-6">
						<label>Age</label> <input class="form-control" type="number"
							th:field="*{age}" required />
					</div>
					<div class="form-check  form-check-inline  m-4">
						<input class="form-check-input" type="radio" name="gender"
							th:value="male" th:field="*{gender}" required /> <label
							class="form-check-label mr-4">Male</label> <input
							class="form-check-input" type="radio" name="gender"
							th:value="female" th:field="*{gender}" /> <label
							class="form-check-label">Female</label>
					</div>

					<div class="form-group col-6">
						<label>Address</label>
						<textarea class="form-control" type="text" row="5" cols="20"
							th:field="*{address}" required></textarea>
					</div>
					<div class="form-group col-6">
						<label>Destination</label> <select class="form-control col-4"
							th:field="*{destination}" required>
							<option th:value="'Ring'" th:text="Ring"></option>
							<option th:value="'Disneyland'" th:text="Disneyland"></option>
							<option th:value="'Stage'" th:text="Stage"></option>
							<option th:value="'Bazaar'" th:text="Bazaar"></option>
						</select>
					</div>
					<div class="mb-3 col-6">
						<label for="formFileSm">Photo</label> <input
							class="form-control form-control-sm" id="formFileSm" type="file"
							name="image" accept="image/png, image/jpeg" style="border: none;" />
					</div>
					<button class="btn btn-success m-2" type="submit">Save</button>
					<a class="btn btn-danger m-2" href="/">cancel</a>
				</form>
			</div>
		</div>
	</div>

	<script>
		function setInputFilter(textbox, inputFilter) {
			[ "input", "keydown", "keyup", "mousedown", "mouseup", "select",
					"contextmenu", "drop" ].forEach(function(event) {
				textbox.addEventListener(event, function() {
					if (inputFilter(this.value)) {
						this.oldValue = this.value;
						this.oldSelectionStart = this.selectionStart;
						this.oldSelectionEnd = this.selectionEnd;
					} else if (this.hasOwnProperty("oldValue")) {
						this.value = this.oldValue;
						this.setSelectionRange(this.oldSelectionStart,
								this.oldSelectionEnd);
					} else {
						this.value = "";
					}
				});
			});
		}

		setInputFilter(document.getElementById("intTextBox"), function(value) {
			return /^-?\d*$/.test(value);
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>
</body>
</html>